.sidebar-content {
  background-color: #f7f7f7;
}

.sidebar {
  border-right: 1px solid $gray3;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  min-height: $page-height;
  padding: 1.5rem 0;
  width: 252px;

  h6 {
    color: $blue0;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    margin: 0.75rem 0 0 0;
    text-transform: uppercase;
    .btn {
      .icon-svg {
        height: 0.75rem;
        widows: 0.75rem;
      }
    }
  }

  .btn {
    font-size: 0.875rem;
    margin: 0 auto;
    &.btn-primary {
      background-color: $orange1;
      border: none;
      margin: 0 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
      &:hover {
        color: $white;
        background-color: darken($orange1, 25%);
      }
    }
  }

  .nav-link {
    color: $gray;
    line-height: normal;
  }

  .filter-nav {
    .nav-link {
      border-left: 3px solid white;
      margin: 0 0 0.75rem 0;
      font-size: 0.875rem;
      padding: 0.25rem 1.5rem;
      transition: border-left-color 0.5s, color 0.5s;
      .icon {
        display: flex;
        width: 2rem;
      }
      &.active,
      &:hover {
        border-left-color: $blue1;
        color: $blue1;
        .icon-svg,
        path {
          fill: $blue1;
        }
      }
    }
  }

  .bottom-nav {
    .nav-link {
      border-bottom: 1px solid $gray3;
      font-size: 0.875rem;
      padding: 0.625rem 0.75rem 0.5625rem;
      margin: 0 0.75rem;
      text-transform: uppercase;
    }
  }
}
