// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Modular Scale
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Temporary stuff that the developers are unsure of where to place in the sass structure

// Basehold.it
// body{position: static !important;}

// Temporary fix for <pre> overflow in flexbox
html,
body,
div,
span,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
main,
nav,
ins {
  min-width: 0;
}

/// Accessibility
// You forgot the 'alt' attribute
img[alt=''],
img:not([alt]) {
  border: 5px dashed #c00;
}

input,
textarea {
  font-size: initial;
}
