/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Assignments ~ Queue
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.queue .assignment-badge,
.modal-body .assignment-badge {
  display: flex;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $gray;
  margin: 1.5rem 0;
  padding: 0.3125rem 1rem;
  .badge {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: $blueGray;
    border-radius: 50%;
    color: $black-3;
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;
    &:focus,
    &.focus {
      box-shadow: none;
      outline: $blueGray dotted thin;
    }
  }
  &.read-only .badge {
    cursor: default;
  }
  .team {
    font-size: 0.625rem;
    font-weight: 300;
  }
  .individual {
    font-size: 0.875rem;
    color: $blueLake;
  }
  .icon {
    margin-left: auto;
  }

  &.read-only div[role='button'] {
    cursor: default;
  }

  .select {
    // The div that wraps the select up.
    padding-left: 1rem;
    & > div {
      display: inline-block;
      // The input for the select.
      input {
        height: 32px;
        width: 100%;
        border: 1px solid $blue;
        border-radius: $border-radius-base;
        background-color: $white;
        flex: 1 1 100%;
      }

      & > div {
        position: absolute;
        overflow: auto;
        padding-top: 1rem;
        z-index: 1050;
        height: 285px;
        width: 280px;
        border: 1px solid $border-color;
        border-radius: $border-radius-base;
        background-color: $white;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
      }

      .team {
        display: flex;
        align-items: center;
        height: 17px;
        color: $blueLake;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;
        margin: 0;

        padding-left: 11px;
      }

      .item {
        display: flex;
        align-items: center;
        height: 36px;
        border-radius: 4px 4px 0 0;

        color: $black;
        font-size: 14px;
        line-height: 19px;

        padding-left: 20px;
        cursor: pointer;

        &.item-highlighted {
          background-color: $black-3;
        }

        &:hover {
          background-color: $black-3;
        }
      }
    }
  }
}
