/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Assignments ~ Queue
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.package-layout--queue .assignment-badge,
.modal-body .assignment-badge {
  display: flex;
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $gray;
  margin: 1.5rem 0;
  padding: 0.3125rem 1rem;
  .badge {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    background-color: $blue-gray;
    border-radius: 50%;
    color: $black-3;
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: 0.5rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;
    &:focus,
    &.focus {
      box-shadow: none;
      outline: $blue-gray dotted thin;
    }
  }
  &.read-only .badge {
    cursor: default;
  }
  .team {
    font-size: 0.625rem;
    font-weight: 300;
  }
  .individual {
    font-size: 0.875rem;
    color: $blue-lake;
  }
  .icon {
    margin-left: auto;
  }

  &.read-only div[role='button'] {
    cursor: default;
  }
}
