/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ Queue
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.queue.layout {
  flex: 1;
  display: flex;
}
.queue-item-container,
.queue-list-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
