/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Queue Item ~ Queue
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.queue-item-container {
  .queue-item-content {
    display: flex;
    flex: 1 1 auto;

    .queue-item-details {
      flex: 6;
    }

    // Make the discussion box fit in the right sidebar.
    .kinops-discussions {
      border-left: 2px solid $gray4;
      flex: 4;
    }
  }
}
