/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Queue Item ~ Queue
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.queue-item-container {
  .queue-item-content {
    display: flex;
    flex: 1 1 auto;

    .queue-item-details {
      flex: 1 1 60%;
    }

    // Make the discussion box fit in the right sidebar.
    .discussions {
      border-left: 2px solid $gray4;
      flex: 1 1 40%;
      justify-content: flex-start;
    }
  }
}
