/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Cards Overrides ~ Design System
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Card
.cards__wrapper {
  &--design-system {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      flex: 0 0 auto;
      flex-basis: 33%;
    }
  }
}

.card {
  border: 1px solid $black-16;
  padding: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
  @include setBgColorAndHover($white);
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &__title,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // display: inline-flex;
    margin: 0 0 0.5rem;
    + p {
      margin-bottom: 0.5rem;
    }
  }
  &__title {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  h1 {
    font-size: 1.375rem /** 22/16 **/;
    font-weight: 600;
    line-height: 1.5rem /** 18/16 **/;
    margin: 0 0 1rem;
  }
  h2 {
    font-size: 1.125rem /** 18/16 **/;
    line-height: 1.25rem /** 20/16 **/;
  }
  h3 {
    font-size: 1rem /** 16/16 **/;
    line-height: 1.125rem /** 18/16 **/;
  }
  h4 {
    font-size: 0.875rem /** 14/16 **/;
    line-height: 1rem /** 16/16 **/;
  }
  h5 {
    font-size: 0.75rem /** 12/16 **/;
    line-height: 0.875rem /** 14/16 **/;
  }
  h6 {
    font-size: 0.625rem /** 10/16 **/;
    line-height: 0.75rem /** 12/16 **/;
  }
  &__text,
  p {
    font-size: 1rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    + p {
      margin-bottom: 0.5rem;
    }
  }
  &__subtitle {
    font-size: 0.75rem !important;
    color: $black !important;
  }
  .btn {
    margin: 0.5rem 0;
  }
  .card-icon {
    margin-top: 0;
    margin-right: 0.5rem;
  }
  &__header {
    margin: 1rem 0;
    &--team {
      height: 3rem;
      width: 100%;
      margin: 0;
      padding: 0 1rem;
      justify-content: center;
      border: none;
      align-items: baseline;
      position: relative;
      display: flex;
      .card-icon {
        margin-top: 1.5rem;
        margin-right: 0;
        height: 48px;
        width: 48px;
        font-size: 1.5rem;
        background-color: $black-16;
        line-height: 48px;
        border: 2px solid $white;
      }
    }
  }
  &--team {
    margin: 0 0 1rem;
    padding: 0;
    text-align: center;
    flex-basis: 31.5%;
    .card__body {
      padding: 2rem 1rem 1rem;
    }
    .card__footer {
      text-align: left;
      padding: 1rem 1rem 2rem;
      border-top: 1px solid $black-16;
    }
  }
  &__date {
    color: $blue-sky;
    margin-bottom: 1rem;
  }
  &__body,
  &__footer {
    flex: 1 0 auto;
  }
  &--cta {
    text-align: center;
    padding: 3rem 2rem;
    border: none;
    &__rule {
      background: #ffffff;
      border-radius: 2px;
      width: 2rem;
      height: 0.25rem;
      margin: 0 auto;
    }
  }
  &--blue {
    background-color: $blue-slate;
    color: $white;
    @include setBgColorAndHover($blue-slate);
  }
  &--green {
    background-color: $green-grass;
    color: $white;
    @include setBgColorAndHover($green-grass);
  }
  &--appt {
    flex-direction: row;
  }
  &--profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    text-align: center;
    word-break: break-all;
    max-width: 216px;
  }
}

.card--color {
  margin: 0 0 1rem 0;
  text-align: center;
  border: 1px solid $black-16;
  &__header {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    justify-content: center;
    border: none;
    align-items: baseline;
    position: relative;
    display: flex;
  }
  &__body {
    padding: 1rem;
    text-align: center;
  }
  p {
    margin: 0;
  }
}
