/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Typography Overrides ~ Design System
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.super-font {
  font-size: 8rem;
}
.type {
  &--light {
    font-weight: 300 !important;
  }
  &--normal {
    font-weight: 500 !important;
  }
  &--bold {
    font-weight: 700 !important;
  }
}
