.login-container {
  justify-content: center;
  align-items: center;
  display: flex;

  flex-direction: row;

  min-height: 100%;
  min-height: 100vh;
  @media all and (min-width: 0) {
    flex-direction: column;
    // align-items: stretch;
    // justify-content: flex-start;
  }
  @media all and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media all and (min-width: 992px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  // TODO: Need to find a way for mobile not to scruntch
  // @media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  //   /* Landscape styles */
  //   height: auto;
  // }
}
.login-wrapper {
  display: flex;
  @media all and (min-width: 0) {
    flex-direction: column;
    min-width: 90%;
    .login-image-container {
      order: 1;
    }
    .login-form-container {
      order: 2;
    }
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
    min-width: 85%;
    .login-image-container {
      order: 2;
    }
    .login-form-container {
      order: 1;
      width: 40%;
      height: 540px;
    }
  }
  @media all and (min-width: 992px) {
    flex-direction: row;
  }
  .login-image-container {
    background-color: $black;
    background-size: cover;
    opacity: 0.85;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-grow: 2;
    flex-shrink: 1;
    padding: 1.5rem;
    .kinops-text {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      img {
        height: 40px;
        width: 110px;
      }

      h3 {
        color: $white;
        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
      }

      p {
        color: $white;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .login-form-container {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    h3 {
      justify-content: space-between;
      display: flex;
      align-items: baseline;
      small {
        font-size: 65%;
      }
    }
    .btn,
    .btn[disabled] {
      padding: 0.5rem 0.75rem;
    }
    hr {
      background-color: $black-16;
      margin: 1rem 0 0.5rem 0;
      border: 0;
      height: 1px;
    }
    .submitted {
      .subtitle {
        color: $black;
      }
      .explaination {
        color: $black;
        font-size: 13px;
        line-height: 18px;
      }
    }

    h3.form-title {
      color: rgb(53, 64, 82);
      font-size: 24px;
      line-height: 48px;
    }

    .name-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > .form-group:nth-child(1) {
        width: 35%;
      }

      & > .form-group:nth-child(2) {
        width: 55%;
      }
    }

    .form-group {
      label {
        color: $black;
        font-size: 12px;
        line-height: 24px;

        &.required:after {
          content: '*';
          color: $red;
        }
      }
      p.form-control-static {
        color: $black;
        font-size: 13px;
        line-height: 18px;
      }
      input.form-control {
        height: 30px;
        border: 1px solid $black-16;
        border-radius: 4px;
        color: $black;
        font-size: 13px;
        line-height: 18px;

        &::placeholder {
          opacity: 1;
          color: #a8b7c7;
        }
      }
    }

    .button-group {
      display: flex;
      flex-direction: column;
    }
  }
}
