@mixin anchor(
  $color: $link-color,
  $hover-color: tint($link-color, 15%),
  $text-decoration: none,
  $hover-text-decoration: underline
) {
  a {
    color: $color;
    text-decoration: $text-decoration;

    &:hover{
      color: $hover-color;
      text-decoration: $hover-text-decoration;
    }
    &:focus{
      outline: none;
      box-shadow: 0 0 1px 4px rgba($orange-kinops, .25);
    }
  }
}
