// Gradient Background
// -----------
@mixin horizontal-gradient($startColor: #555, $endColor: #333) {
  background: $endColor;
  background: -moz-linear-gradient(90deg, $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient(90deg, $startColor 0%, $endColor 100%);
  background: linear-gradient(90deg, $startColor 0%, $endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$startColor}",endColorstr="#{$endColor}",GradientType=1);
}

@mixin vertical-gradient($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background: -moz-linear-gradient(0deg, $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient(0deg, $startColor 0%, $endColor 100%);
  background: linear-gradient(0deg, $startColor 0%, $endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr'#{$startColor}',endColorstr='#{$endColor}',GradientType=1);
}

@mixin directional-gradient($startColor: #555, $endColor: #333, $deg: 45deg) {
  background: $endColor;
  background: -moz-linear-gradient($deg, $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient($deg, $startColor 0%, $endColor 100%);
  background: linear-gradient($deg, $startColor 0%, $endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr'#{$startColor}',endColorstr='#{$endColor}',GradientType=1);
}

@mixin vertical-three-colors-gradient($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
  background: $startColor;
  background: -moz-linear-gradient(45deg, $startColor 0%, $midColor $colorStop, $endColor 100%  );
  background: -webkit-linear-gradient(45deg, $startColor 0%, $midColor $colorStop, $endColor 100%  );
  background: linear-gradient(45deg, $startColor 0%, $midColor $colorStop, $endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=1); // IE9 and down, gets no color-stop at all the proper fallback
}
