/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Sidebar ~ kinops
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sidebar {
  background-color: $black-3;
  border-right: 1px solid $black-16;
  // margin-top: $header-height;
  height: 100%;
  min-height: calc(100vh - 120px);
  @supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */

    min-height: $page-height;
  }

  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 252px;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  // Major action button for kapp
  .btn {
    &.btn-sidebar-action {
      margin: 0.75rem 1.5rem;
      width: 80%;
    }
  }
  // Grouping of related links
  .sidebar-group {
    // display: flex;
    // flex-direction: column;

    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    padding-left: 0;
    margin: 0.75rem 0 0 0;
    list-style: none;
    z-index: 0;
    // Group Title
    h1 {
      color: $blue-lake;
      display: flex;
      align-items: center;
      line-height: 1;
      font-size: 0.75rem;
      padding: 0.75rem 1.5rem;
      margin: 0;
      text-transform: uppercase;
      justify-content: space-between;
      // Group Title Link or action
      a {
        line-height: normal;
        margin-left: auto;
        text-transform: none;
        color: $gray;
        &:hover {
          color: $blue-lake;
        }
      }
      // Group Title Button color
      .btn-icon {
        padding: 0;
        margin: 0;
      }
    }
    .card-icon {
      margin-top: 0;
    }
    .nav-link {
      border-left: 3px solid $black-3;
      color: $gray;
      line-height: normal;
      display: flex;
      align-items: center;
      margin: 0 0 0.75rem 0;
      font-size: 0.875rem;
      padding: 0.25rem 1.5rem;
      transition: border-left-color 0.5s, color 0.5s;
      .fa {
        font-size: 1rem;
        margin-right: 0.5rem;
      }
      &.active,
      &:hover {
        border-left-color: $blue-lake;
        color: $blue-lake;
      }
    }
    &--settings {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 252px;
      background-color: $black-5;
      border-right: 1px solid $border-color;
      z-index: 10;
      .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.5rem;
        margin: 0;
        font-weight: 600;
        border-left: none;
        .fa {
          margin-right: 0;
        }
        &:hover {
          border-left: none;
        }
      }
    }
  }
}
