/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   FA Extensions
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.fa.fa-file-stack {
  position: relative;
  top: -2px;
  left: -2px;

  > .fa {
    position: absolute;
    background-color: $header-color;
    top: 0;
    left: 3px;
  }
}

.fa.fa-kinetic-request {
  background-image: url("#{$image-path}/fa-image/kinetic-request.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 43%;

  &:before {
    content: "\f111";
    visibility: hidden;
  }
}
.fa.fa-kinetic-task {
  background-image: url("#{$image-path}/fa-image/kinetic-task.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 43%;

  &:before {
    content: "\f111";
    visibility: hidden;
  }
}
