.discussion-dialog {
  flex-grow: 1;
  &.participants-dialog {
    background-color: $blue4;
    padding: 1.5rem;
    .header {
      color: $blue2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include ms-respond(font-size, 0);
      margin-top: 0;
      text-transform: uppercase;
    }
    ul.participants-list,
    ul.invitees-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        color: $blue1;
        font-size: 12px;
        margin-bottom: 0.5rem;
        .sb-avatar {
          margin-right: 0.5rem;
          img {
            border: 2px solid rgba(0, 212, 106, 0);
            transition: border-color 300ms;
          }
        }
        .subtext {
          color: $blue2;
          margin-left: 0.5rem;
        }
      }
      li.present .sb-avatar img {
        border-color: rgba(0, 212, 106, 1);
      }
    }
  }
  &.invitation-dialog {
    padding: 1rem;
    .invitation-form {
      padding: 0;
      label {
        color: $blue1;
        margin: 0.5rem 0;
      }
      ::-webkit-input-placeholder {
        color: $blue2;
      }
      ::-moz-placeholder {
        color: $blue2;
      }
      :-ms-input-placeholder {
        color: $blue2;
      }
      .help-block {
        color: $blue2;
        margin: 0.5rem 0 1rem 0;
      }
    }
  }
}
