/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Discussion Dialogs ~ Discussions
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.discussion-dialog {
  flex: 1 1 auto;
  &.participants-dialog {
    h1 {
      color: $blue-lake;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1;
      font-size: 0.75rem;
      margin-top: 0;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }
    ul.participants-list,
    ul.invitees-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        color: $blue;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        .avatar {
          margin-right: 0.5rem;
          img {
            border: 2px solid rgba(0, 212, 106, 0);
            transition: border-color 300ms;
          }
        }
        .subtext {
          color: $blue-lake;
          margin-left: 0.5rem;
        }
      }
      li.present .avatar img {
        border-color: $present;
      }
    }
  }
}
