/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Discussion ~ Discussions
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.kinops-discussions,
.kinops-discussions-modal-body {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
  flex-grow: 1;
  position: relative;
  .messages {
    background-color: #f7f7f7;
    flex: 1 0 auto;
    position: relative;

    .message-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 1.5rem;
      overflow-y: auto;
    }
    .date {
      align-items: center;
      color: $blue-lake;
      display: flex;
      @include ms-respond(font-size, -1);
      font-weight: bold;
      margin: 1.5rem 0;
      text-align: center;
      hr {
        border: 2px solid $blue3;
        flex: 1 0 auto;
      }
      span {
        margin: 0 0.75rem;
      }
    }
    button.more-messages {
      position: absolute;
      bottom: 20px;
      width: 180px;
      left: 50%;
      margin-left: -90px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      .icon {
        margin-left: 10px;
        path {
          fill: $white;
        }
      }
    }
  }
  &.empty {
    justify-content: center;
  }
  .load-more-messages {
    text-align: center;
    padding-top: 1.5rem;
    // padding: 1.5rem;
    h5 {
      color: $blue1;
      @include ms-respond(font-size, 2);
      font-weight: 600;
      line-height: 1.5rem;
      margin-top: 0;
    }

    h6 {
      color: $blue2;
      @include ms-respond(font-size, -1);
      margin-top: 0;
      line-height: 1.5rem;
    }
  }
  .new-message {
    display: flex;
    padding: 0;
    overflow: visible;
    &.editing,
    &.replying {
      background-color: rgba(245, 166, 35, 0.15);
      .input-container {
        background-color: rgba(245, 166, 35, 0.15);
      }
      .btn-subtle,
      .btn-send {
        background-color: rgba(245, 166, 35, 0.05);
      }
    }
    &.disabled {
      background-color: rgba(240, 240, 240, 0.75);
      .input-container {
        background-color: rgba(240, 240, 240, 0.75);
      }
    }
    button {
      border-radius: 0;
      &.btn-subtle {
        background-color: $blue3;
        border-width: 0;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        width: 48px;
      }

      &.btn-send {
        background-color: $blue3;
        color: $primary;
        opacity: 1;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
          color: $gray;
        }
      }
      &.btn {
        &.disabled,
        &:disabled {
          opacity: 1;
        }
      }
    }

    .show > .dropdown-menu {
      display: flex;
    }
    .dropdown-menu {
      border: none;
      flex-direction: column;
      margin: 0.5rem;
      padding: 0.5rem;
      filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 3px 4px);
      button {
        cursor: pointer;
        font-size: 12px;
        padding: 0.25rem 0.5rem;
        width: auto;
        .icon {
          margin-right: 0.5rem;
        }
      }
      &:after {
        content: ' ';
        position: absolute;
        height: 0;
        width: 0;
        border-color: transparent;
        border-style: solid;
        bottom: -8px;
        left: 8px;
        border-width: 8px 8px 0;
        border-top-color: white;
      }
    }

    .input-container {
      flex: 1 1 100%;
      padding: 0.75rem;
      background-color: $blue3;

      .placeholder {
        color: #a8b7c7;
        position: absolute;
        pointer-events: none;
        &.hidden {
          display: none;
        }
      }
    }

    .message-input {
      min-height: 24px;
      max-height: 25vh;
      overflow-y: auto;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      color: #54698d;

      &:focus {
        outline: unset;
      }

      &.disabled {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .participants-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 1.5rem;
    .sb-avatar {
      margin-right: 0.33rem;
      img {
        border: 2px solid rgba(0, 212, 106, 0);
        transition: border-color 300ms;
      }
    }
    .present {
      .sb-avatar img {
        border-color: rgba(0, 212, 106, 1);
      }
    }

    .view-all {
      margin-left: auto;
    }
  }

  .archived-banner {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    height: 3rem;
    background-color: rgba(240, 240, 240, 0.75);
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
      margin: 0 0.5rem;
    }
    a {
      text-decoration: underline;
    }
    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .empty-discussion {
    background-color: $black-3;
    border-radius: 0.5rem;
    margin: 1rem;
    text-align: center;

    h5 {
      color: $blue-lake;
      font-size: 14px;
      @include ms-respond(font-size, 2);
      font-weight: 600;
      line-height: 1.5rem;
    }

    button {
      color: $blue2;
      font-size: 14px;
    }
  }
  .btn {
    flex: 0 0 auto;
  }
  .btn-link.btn-back {
    border-bottom: 1px solid $black-16;
    border-top: 0;
    border-radius: 0;
    padding: 0.9375rem 1rem;
    text-align: left;
  }
  // Discussion container fixes
  &.recent-discussions-wrapper {
    overflow-y: scroll;
    justify-content: space-between;
    flex-direction: column;
    background-color: transparent;
    // Add padding to the list of discussions but not the actual discussion.
    padding: 0.5em 1em !important;
    .modal-body & {
      padding: 0 !important;
      .messages {
        background-color: $white;
      }
    }
  }
}

.message-versions-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid $gray4;
  .timestamp,
  .page-info {
    font-size: 0.875rem;
  }
}
.message-versions {
  padding: 1.5rem;
}

.messages-group {
  display: flex;
  margin-bottom: 1.5rem;
  .sb-avatar {
    margin: 0.375rem 0.75rem 0 0;
    display: flex;
    flex: 1 0 auto;
    img,
    .sb-avatar__text {
      border: 2px solid transparent;
    }
    &.present img,
    &.present .sb-avatar__text {
      border-color: $present;
    }
  }
  .message-list {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: $blue1;
    @include ms-respond(font-size, 0);
    .message-list-item {
      // border: 1px solid green;
      display: flex;
      flex: 0 1 auto;
      position: relative;
      &:hover {
        background-color: $white;
        border-radius: 3px;
        ul.actions {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.3s;
          justify-content: flex-end;
        }
      }
    }
    ul.actions {
      list-style: none;
      display: inline-flex;
      padding: 0 1rem;
      margin: 0;

      position: absolute;
      top: -1rem;
      right: 1rem;
      min-height: 16px;
      padding: 1px 4px;
      background: rgb(255, 255, 255);
      z-index: 30;
      border: 1px solid rgb(222, 222, 222);
      border-radius: 6px;
      transition: all 0.3s;
      // Show on hover
      visibility: hidden;
      opacity: 0;
      align-items: center;
      li + li:before {
        content: '• ';
        padding: 0 0.5rem;
      }
    }
    .message-bubble {
      background-color: $gray4;
      border-radius: 0.5rem;
      margin: 0.375rem 0.5rem;
      padding: 0.75rem;
      position: relative;
      white-space: pre-wrap;
      // IE11 requires max-width due to flexbox bug which results
      // in the message never wrapping and scrolling horizontally
      max-width: 100%;
      // line-height: 0.75rem;

      &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        top: 8px;
        bottom: auto;
        border: 4px solid;
      }

      .message {
        &.edited {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        p {
          margin: 0;
          a {
            color: $blue-sky;
            overflow-wrap: break-word;
          }
        }
      }

      .parent-message {
        border-left: 2px solid $blue-lake;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
      }
    }
    .message-upload {
      display: flex;
      flex-direction: column;

      &.message-other {
        align-items: flex-start;
      }

      &.message-mine {
        align-items: flex-end;
      }

      .upload-image {
        display: flex;
        height: 120px;
        img {
          height: 100%;
          width: auto;
        }
        & + .upload-description {
          margin-top: 0.75rem;
        }
      }
    }
    .meta {
      @include ms-respond(font-size, -2);
      line-height: 1.5rem;
      .author {
        margin-right: 1rem;
      }
      .timestamp {
        color: $blue2;
      }
    }
  }
  &.mine {
    .message-list {
      .message-list-item {
        justify-content: flex-end;
        &:hover {
          background-color: $white;
          border-radius: 3px;

          ul.actions {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s;
            justify-content: flex-start;
          }
        }
      }
      .message-bubble {
        background-color: $blue3;
        &:after {
          left: auto;
          right: -8px;
          border-color: $blue3 transparent transparent $blue3;
        }
      }
      .meta {
        align-self: flex-end;
      }
    }
  }
  &.other {
    .message-list {
      .message-bubble {
        &:after {
          left: -8px;
          right: auto;
          border-color: $gray4 $gray4 transparent transparent;
        }
      }
    }
  }
  .message-list {
    .message-list-item {
      &.editing,
      &.replying {
        background-color: rgba(245, 166, 35, 0.15);
        &:hover {
          background-color: rgba(245, 166, 35, 0.15);
        }
      }
    }
  }
  .system-message-list {
    color: $blue1;
    .system-message {
      @include ms-respond(font-size, -1);
      margin-left: 3rem;
      margin-bottom: 0.5rem;
      .timestamp {
        color: $blue2;
        margin-left: 1rem;
      }
      .text-token {
        font-style: italic;
      }
      .user-token {
        font-weight: bold;
      }
      .message-token {
        cursor: pointer;
        &:hover {
          color: $blue-lake;
          text-decoration: underline;
        }
      }
    }
  }
}

.popover.reply-popover {
  max-width: none;
  .popover-body {
    color: $blue-lake;
    font-family: 'Open Sans';
    i {
      margin-right: 0.75rem;
    }
  }
}

// Markdown Help
.markdown-help {
  background-color: $white;
  color: $blue-lake;
  padding: 0.5rem 0.5rem;
  position: absolute;
  top: -2.5rem;
  width: 100%;

  .markdown-sample + .markdown-sample {
    margin-left: 0.5rem;
  }
}

// People and Team selectes
.user-menu-item,
.team-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
