/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ Discussions
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.package-layout--discussions {
  .page-panel--discussions {
    .discussion__content {
      overflow-y: auto;
    }
    .discussion--list__header {
      flex: 0;

      .header {
        padding: 0.75rem 1rem;
        background-color: $white;
        border-bottom: 1px solid $black-16;
        color: $orange-kinops;
        font-size: 0.9375rem;
        font-weight: 600;
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;

        .btn-group {
          margin: -0.75rem -1rem -0.75rem 0;
          flex-shrink: 0;

          .btn {
            font-size: 1rem;
            padding: 0.5625rem 0.75rem;
            border-radius: 0;
            border: none;
          }
        }

        .badge-search {
          position: relative;
          background-color: $black-3;
          color: $text-color;
          border: 1px solid $black-16;
          padding: 0.25rem 1.25rem;
          margin-left: 0.5rem;

          &:before {
            font-family: 'FontAwesome';
            content: '\F002';
            font-weight: 400;
            position: absolute;
            top: calc(50% - 5px);
            left: 0;
            margin: 0 0.25rem;
          }
          &:after {
            font-family: 'FontAwesome';
            content: '\F00D';
            color: $red;
            font-weight: 400;
            position: absolute;
            top: calc(50% - 5px);
            right: 0;
            margin: 0 0.25rem;
            opacity: 0.5;
          }
          &:hover {
            cursor: pointer;
            &:after {
              opacity: 1;
            }
          }
        }
      }

      .subheader {
        padding: 0.5rem 0.5rem 0;
        border-bottom: 1px solid $black-16;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .btn {
          padding: 0 0.5rem;
        }

        form {
          background-color: transparent;
          padding: 0;
          flex: 1;
          min-width: 10rem;

          input {
            height: 1.875rem;
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.375rem;
          }
          .btn {
            padding: 0 1rem;
          }
        }

        > * {
          margin: 0 0.5rem 0.5rem;
        }
      }
    }

    .pagination-bar {
      background-color: $black-3;
      border-top: 1px solid $black-16;
      text-align: center;
      padding: 0.5rem 1rem;
      button {
        font-size: 1rem;
      }
    }
  }
}
