/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   About ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.data-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.75rem;
  &__col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  dl {
    color: $black;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}
