/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   About ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.space {
  .about-container {
    .details-wrapper {
      color: $black;
      font-size: 0.875rem;
      padding: 0 1rem;
      margin-bottom: 1rem;
      .detail {
        margin-right: 2rem;
        .name {
          font-weight: 600;
        }
      }
    }
    .space-admin-wrapper {
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
  }
}
