/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Alerts ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.table--alerts {
  tr {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
  }
}
