/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Cards ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.card--form {
  flex: 0 0 auto;
  border: 1px solid $black-16;
  margin-bottom: 0.75rem;
  padding: 0.6875rem 1rem;
  transition: background-color 0.3s;
  @include setBgColorAndHover($white);
  &:focus,
  &:hover {
    text-decoration: none;
  }
  h1 {
    color: $black;
    display: inline-flex;
    font-size: 1.4375rem;
    @include ms-respond(font-size, 3);
    font-weight: 600;
    line-height: 2.25rem;
    margin: 0;
  }
  p {
    color: $black-50;
    font-size: 1rem;
    line-height: 1.5rem;
    @include ms-respond(font-size, 1);
    margin-bottom: 0;
  }
  @media all and (min-width: 0) {
    flex-basis: 100%;
    @media all and (-ms-high-contrast: none) {
      width: 100%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 576px) {
    flex-basis: 48%;
    @media all and (-ms-high-contrast: none) {
      width: 48%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 768px) {
    flex-basis: 48%;
    @media all and (-ms-high-contrast: none) {
      width: 48%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 992px) {
    flex-basis: 31%;
    @media all and (-ms-high-contrast: none) {
      width: 31%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 1200px) {
  }
}

.card--team {
  margin: 0 0 1rem 0;
  text-align: center;
  border: 1px solid $black-16;
  &__header {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    justify-content: center;
    border: none;
    align-items: baseline;
    position: relative;
    display: flex;
    .card-icon {
      margin-top: 1.5rem;
      margin-right: 0;
      height: 48px;
      width: 48px;
      font-size: 1.5rem;
      background-color: $black-16;
      line-height: 48px;
      border: 2px solid $white;
    }
  }
  &__body {
    padding: 1rem;
    text-align: center;
    h1 {
      margin: 0.75rem 0;
      color: $black;
      word-break: break-word;
      font-size: 1.125rem;
      line-height: 1.5rem;
      .fa {
        padding: 0 0 0 1rem;
      }
    }
    p {
      color: $black-50;
      font-size: 0.75rem;
      line-height: 1.125rem;
      margin-bottom: 0;
      &.members-toggle {
        margin-bottom: 1rem;
      }
    }
    .btn {
      margin: 1rem 0;
    }
    img {
      flex-shrink: 0;
      border-radius: 50%;
      background-color: $black-16;
    }
    pre {
      width: 100%;
      font-family: $font-family-sans-serif;
      word-break: keep-all;
      white-space: pre-wrap;
      color: $black-50;
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }
  &__footer {
    border-top: 1px solid $black-16;
    text-align: left;
    padding: 0 1rem;
    h1 {
      margin: 0.75rem 0;
      font-size: 0.75rem;
      font-weight: 600;
      color: $black;
    }
    .avatar {
      margin-right: 0.125rem;
    }
    &__members {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;
    }
    &__member {
      .avatar {
        img {
          border: 2px solid $white;
        }
      }
      &.online .avatar img {
        border-color: $present;
      }
    }
  }
}

.cards__wrapper--team {
  justify-content: flex-start;
  flex-direction: row;
  .card {
    @media all and (min-width: 0) {
      flex-basis: 100%;
      @media all and (-ms-high-contrast: none) {
        width: 100%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 576px) and (max-width: 991px) {
      flex-basis: 48%;
      margin-right: 2%;
      &:nth-child(even) {
        margin-right: 0;
      }
      @media all and (-ms-high-contrast: none) {
        width: 48%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 992px) {
      flex-basis: 31%;
      margin-right: 3%;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @media all and (-ms-high-contrast: none) {
        width: 30%;
        flex-basis: auto;
      }
    }
  }
}

.cards__wrapper--services {
  padding: 0 0 3rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .card--service {
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s; // display: flow-root;
    &:focus,
    &:hover {
      background-color: $white;
      text-decoration: none;
    }
    h1 {
      color: $black;
      font-size: 1.4375rem;
      font-weight: 600;
      line-height: 2.25rem;
      margin: 0;
      display: inline-flex;
    }
    p {
      color: $black-50;
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 0;
    }
    @media all and (min-width: 0) {
      flex-basis: 100%;
      @media all and (-ms-high-contrast: none) {
        width: 100%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 576px) {
      flex-basis: 48%;
      @media all and (-ms-high-contrast: none) {
        width: 48%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 768px) {
      flex-basis: 48%;
      @media all and (-ms-high-contrast: none) {
        width: 48%;
        flex-basis: auto;
      }
    }
  }
}

.card--service {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}
