/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Datastore ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.package-layout--space {
  .datastore-searchbar {
    .btn.btn-none.advanced-dropdown-caret {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    .advanced-dropdown-wrapper {
      .index-selector,
      .index-part {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.75em;
      }

      .index-part-values-group {
        display: flex;
        flex-direction: row;
        padding-bottom: 0.25em;

        &.operation-between {
          justify-content: space-between;
          span {
            width: 4em;
            text-align: center;
          }
        }
      }
    }
  }

  .datastore-top-pagination {
    position: fixed;
    left: 252px;
    right: 0;
    bottom: 0;
    z-index: 300;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1 1 100%;
    align-items: center;
    margin: 2rem 0 0;
    padding: 1rem;
    background-color: rgba($black-3, 0.95);
    transition: left 0.3s ease-out, right 0.3s ease-out;
    .closed & {
      left: 0;
    }
  }

  .datastore-bottom-pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .datastore-submissions {
    margin-bottom: 5rem;
  }
  table.table-datastore {
    font-size: 0.875rem;
    margin-top: 1.5rem;

    tbody {
      td {
        > a {
          font-weight: 600;
        }
        > small {
          color: $gray;
        }
        > .list-dropdown {
          & > button {
            padding: 0;
            color: $black-50;
            &:hover {
              color: darken($black-50, 5%);
            }
          }
        }
        > .dropdown .btn {
          background-color: transparent;
          padding: 0rem 0.25rem;
        }
        & .dropdown-item {
          padding: 0.25rem 1rem;
        }
      }
    }
  }

  div.table-title {
    justify-content: space-between;
    display: flex;
    flex: 1 1 100%;
  }

  @media (min-width: 768px) {
    .d-md-table-header-group {
      display: table-header-group !important;
    }
  }
}
.page-panel--datastore-sidebar {
  flex-direction: column;
}
