/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Discussion Overrides ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.discussion {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  &__subheader {
    border-bottom: 1px solid $black-16;
    font-size: 0.9375rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.75rem 1rem;
    width: 100%;
    color: $orange-kinops;
    a:not(.related-link) {
      color: $orange-kinops;
      font-weight: 600;
    }
  }
}
