/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Home ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-container--space-home {
  display: flex;
  flex-direction: row;
  .page-panel--space-home {
    background-color: transparent;
    .space-home-title {
      color: $black;
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 3rem;
    }
    .page-title {
      flex-direction: row;
      .search-form--discussion {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex: 0 0 50%;
        margin-bottom: 1.875rem;
      }
      @media all and (min-width: 0) {
        flex-direction: column;
        .search-form--discussion {
          align-items: center;
          align-self: stretch;
        }
      }
      @media all and (min-width: 768px) {
        flex-direction: row;
        .search-form--discussion {
          align-items: flex-end;
        }
      }
    }
  }
}
.recent-discussions-wrapper {
  .discussion-summary {
    display: flex;
    flex-direction: column;
    border: 1px solid $black-5;
    border-radius: $border-radius-base;
    background-color: $white;
    padding: .5em 1em .5em 1em;
    margin-bottom: .75rem;

    .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      align-items: center;

      &__title {
        margin-right: .25em;
        height: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1 1 40%;
      }

      .participants {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-basis: 40%;
        overflow-x: scroll;
        & >.avatar {
          padding: 0;
        }

        & >.related-link {
          margin-right: 2rem;
          height: auto;
          font-weight: 400;
          font-size: .6125rem;
        }
      }
    }
    .messages .messages-group {
      margin-bottom: 0;
      background-color: $white;
    }
  }
  .recent-discussion-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
  }
}
