/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout Overrides ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.package-layout--space {
  // Page Container
  .page-container {
    // Form Card Wrapper
    .cards__wrapper {
      padding: 0 0 3rem;
      margin: 0;
      list-style: none;
      flex-direction: column;
      &--forms {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
