/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Page Title Overrides ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-title-wrapper {
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: flex-end;
  h1 {
    margin-bottom: 0;
    line-height: 2.75rem;
  }
  .btn {
    margin-bottom: 0;
    line-height: 1.75rem;
  }
}
