/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Profile ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-container--space-profile-edit {
  overflow-y: auto;
  border-right: 1px solid $border-color;
  .form-alert {
    // border: 1px solid $red;
    color: $red;
    // background: $red-rose;
    // padding: 1rem;
    // border-radius: $border-radius-base;
  }
  .table--user-attributes {
    color: $black-50;
    margin: 1rem;
    width: auto;
    font-size: 0.875rem;
    tbody > tr:not(:last-child) {
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.5rem;
    }

    .name {
      font-weight: 600;
    }

    button {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5rem;
      vertical-align: baseline;
    }

    tbody > tr > td {
      width: 50%;
    }
  }

  label {
    display: block;
  }

  .profile-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 50%;
    .form-group {
      label {
        &.required:after {
          content: '*';
          color: $red;
        }
      }
    }
  }

  .form__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
}
.profile-roles-wrapper {
  margin: 1rem;
  .profile-role {
    background-color: $blue;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    color: $white;
    font-size: 0.625rem;
    border-radius: 2px;
    font-weight: 600;
    white-space: nowrap;
    display: inline-flex;
    line-height: 1;
  }
}

.card--profile {
  padding: 1.4375rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  text-align: center;
  word-break: break-all;
  min-width: 216px;
  h1 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
  img {
    flex-shrink: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  dl span {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    dt {
      margin-right: 1rem;
    }
  }
}

.page-panel--space-profile-edit-sidebar {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
