/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Settings ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-container--notifications {
  .notifications-tabs {
    .nav-tabs {
      li > a {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .page-container--notifications {
    table {
      th.hidden-md-down,
      td.hidden-md-down {
        display: none;
      }
    }
  }
}
