/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Sidebar Overrides ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sidebar-group--kapp-cards {
  .kapp-card {
    background: $white;
    border-radius: $border-radius-base;
    padding: 0.5rem;
    margin: 0 1rem 1rem;
    transition: background-color 0.3s;
    display: flow-root;
    &:focus,
    &:hover {
      @include setBgColorAndHover($white);
      text-decoration: none;
    }
    h1 {
      color: $black;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.5rem;
      margin: 0;

      display: inline-flex;
      padding: 0;
      text-transform: inherit;
    }
    p {
      color: $black-50;
      font-size: 0.75rem;
      line-height: 1.125rem;
      margin: 0.5rem 0 0 1.875rem;
    }
    a {
      text-decoration: none;
    }
  }
}

.page-panel--settings-sidebar {
  flex-direction: column;
}
