/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Teams ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-container--space-team {
  .kinops-discussions {
    flex: 1 1 40%;
  }
}

.page-panel--team-edit-sidebar {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .card {
    margin-top: 1rem;
    width: 216px;
    max-width: 216px;
  }
}

.cards__wrapper--members {
  margin-left: 1rem;
  justify-content: flex-start;
}
