/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Space
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/// Accessibility
// You forgot the 'alt' attribute
img[alt=''],
img:not([alt]) {
  border: 5px dashed #c00;
}

input,
textarea {
  font-size: initial;
}

.avatar {
  img {
    border-radius: 50%;
  }
}

// Forms layout
.discussions-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 50%;
  :first-child {
    padding-right: 1rem;
  }
  .form-group {
    flex: 1 1 auto;
  }
}
.search-lookup {
  .index-selector-dropdown > .dropdown-menu {
    transform: inherit !important;
    top: 48px !important;
  }
}

.datastore-searchbar {
  .simple-search-input-group {
    input.advanced-open {
      border-radius: 0.25rem 0 0 0;
    }
    button.advanced-dropdown-caret {
      background-color: transparent;
      color: inherit;
      border-left-color: white;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
    }
    button.advanced-open {
      border-radius: 0 0.25rem 0 0;
    }
  }
  .advanced-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0px;
    border-radius: 0 0 0.25rem;
    padding: 0.2rem 1.5rem 2.5rem;
    background-color: #f7f7f7;
    .advanced-dropdown-header {
      margin-bottom: 0.5rem;
    }

    .index-selector {
    }

    .reset-search-link {
      float: right;
    }

    .index-part {
      min-height: 64px;
      //display: flex;

      .index-part-label {
        //width: 25%;
        color: #7e8083;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
      }

      .index-part-operation {
        //width: 25%;
      }
    }

    .index-part-values {
      //width: 50%;
      margin: 0 0.5rem;
      display: flex;
      flex-direction: column;

      .index-part-values-group {
        display: flex;
        flex-direction: row;
        & > input {
          flex-grow: 1;
        }
        input.index-part-value {
          height: 32px;
          padding: 0.5rem;
          color: #7e8083;
          border-radius: 3px;
          border: 1px solid #dfe3e9;
          background-color: #ffffff;
          font-size: 13px;
          line-height: 18px;
          min-width: 0;
        }
      }
    }
  }
}
