/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Space
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/// Accessibility
// You forgot the 'alt' attribute
img[alt=''],
img:not([alt]) {
  border: 5px dashed #c00;
}

input,
textarea {
  font-size: initial;
}

.avatar {
  img {
    border-radius: 50%;
  }
}

// Forms layout
.discussions-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 50%;
  :first-child {
    padding-right: 1rem;
  }
  .form-group {
    flex: 1 1 auto;
  }
}

.profile-content .user-admin {
  display: flex;
  margin-bottom: 1rem;
  label {
    margin-right: 0.8rem;
  }
  input[type='checkbox'] {
    margin-right: 0.3rem;
  }
}
