/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Space
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/// Accessibility
// You forgot the 'alt' attribute
img[alt=''],
img:not([alt]) {
  border: 5px dashed #c00;
}

input,
textarea {
  font-size: initial;
}

.avatar {
  img {
    border-radius: 50%;
  }
}

.select {
  flex: 1 1 auto;
  form {
    margin: 0;
    padding: 0;
    border-radius: 4px;
    border: 1px solid rgba($black-16, 1);
    display: flex;
    justify-content: space-between;
  }
  // Search Input
  input[type='text'] {
    height: auto;
    border: none;
    border-radius: 4px;
    background-color: $white;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    padding: 1rem;
    &::-webkit-input-placeholder {
      color: rgba($black-50, 0.5);
    }
  }
  button,
  input {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
  }
  input {
    &::placeholder {
      color: $black;
    }
  }
  button {
    width: 4rem;
  }
}

// Forms layout

.discussions-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 50%;
  :first-child {
    padding-right: 1rem;
  }
  .form-group {
    flex: 1 1 auto;
  }
}

.profile-content .user-admin {
  display: flex;
  margin-bottom: 1rem;
  label {
    margin-right: 0.8rem;
  }
  input[type='checkbox'] {
    margin-right: 0.3rem;
  }
}
