/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Datastore ~ Space
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.datastore-searchbar {
  .btn.btn-none.advanced-dropdown-caret {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  .advanced-dropdown-wrapper {
    .index-selector,
    .direction-selector,
    .index-part {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.75em;
    }

    .index-part-values-group {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.25em;

      &.operation-between {
        justify-content: space-between;
        span {
          width: 4em;
          text-align: center;
        }
      }
    }
  }
}

.datastore-searchbar {
  .simple-search-input-group {
    input.advanced-open {
      border-radius: 0.25rem 0 0 0;
    }
    button.advanced-dropdown-caret {
      background-color: transparent;
      color: inherit;
      border-left-color: $white;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }
  .advanced-dropdown-wrapper {
    border: 1px solid rgba($border-color, 0.5);
    border-top: 0px;
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
    padding: 1rem 1.5rem;
    background-color: $gray3;
    width: calc(100% - 3.75rem);
    .advanced-dropdown-header {
      justify-content: space-between;

      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }
    h5 {
      margin: 0;
    }

    .direction-selector,
    .index-selector {
      margin-bottom: 1rem;
      align-items: center;
      strong {
        color: $gray80;
      }
    }

    .index-part {
      align-items: center;
      margin-bottom: 1rem;
      .index-part-label {
        //width: 25%;
        color: $gray50;
        font-weight: 600;
        // font-family: 'Open Sans';
        // font-size: 14px;
        // font-weight: bold;
        // line-height: 19px;
      }

      .index-part-operation {
        //width: 25%;
      }
    }

    .index-part-values {
      //width: 50%;
      margin: 0 0.5rem;
      display: flex;
      flex-direction: column;

      .index-part-values-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > input {
          flex-grow: 1;
        }
        input.index-part-value {
          // height: 32px;
          // padding: 0.5rem;
          // color: #7e8083;
          // border-radius: 3px;
          // border: 1px solid #dfe3e9;
          // background-color: #ffffff;
          // font-size: 13px;
          // line-height: 18px;
          // min-width: 0;
        }
      }
    }
  }
}

.datastore-top-pagination {
  position: fixed;
  left: 252px;
  right: 0;
  bottom: 0;
  z-index: 300;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1 1 100%;
  align-items: center;
  margin: 2rem 0 0;
  padding: 1rem;
  background-color: rgba($gray3, 0.95);
  transition: left 0.3s ease-out, right 0.3s ease-out;
  .closed & {
    left: 0;
  }
}

.datastore-bottom-pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.datastore-submissions {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
table.table--settings {
  font-size: 0.875rem;

  tbody {
    tr {
      td {
        > a {
          font-weight: 600;
        }
        > small {
          color: $gray50;
        }
        > .list-dropdown {
          & > button {
            padding: 0;
            color: $gray50;
            &:hover {
              color: darken($gray50, 5%);
            }
          }
        }
        > .dropdown .btn {
          background-color: transparent;
          padding: 0rem 0.25rem;
        }
        & .dropdown-item {
          padding: 0.25rem 1rem;
        }
      }
    }
  }

  &.table-draggable {
    border-collapse: separate;
    border-spacing: 0px;

    tbody {
      tr {
        &.dragging {
          background-color: $tertiary40;
          td {
            border: none;
          }
          td + td {
            display: none;
          }
        }
      }
    }
  }
}

div.table-title {
  justify-content: space-between;
  display: flex;
  flex: 1 1 100%;
  margin: 0 0 0.5rem 0;

  .table-title__wrapper {
    line-height: 2.25rem;
  }
}

@media (min-width: 768px) {
  .d-md-table-header-group {
    display: table-header-group !important;
  }
}
.page-panel--datastore-sidebar {
  flex-direction: column;
}
