/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Space
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/// Accessibility
// You forgot the 'alt' attribute
img[alt=''],
img:not([alt]) {
  border: 5px dashed #c00;
}

input,
textarea {
  font-size: initial;
}

.avatar {
  img {
    border-radius: 50%;
  }
}

.dropdown-menu.dropdown-multi {
  font-size: 0.875rem;
  .dropdown-menu {
    font-size: 0.875rem;
  }
}

.dropdown-submenu {
  position: relative;
  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -0.5rem;
    margin-left: -3px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 0 6px 6px 6px;
  }
  &:hover > .dropdown-menu {
    display: block;
  }
  h6 {
    margin-top: 0;
  }
  small.dropdown-header {
    white-space: normal;
  }
}

.notifications-tabs .nav-tabs {
  margin-bottom: 1rem;
}

.popover-body.date-range-filter {
  display: flex;
  flex-direction: column;
  min-width: 250px;

  form {
    padding: 0.25rem;
  }

  .date-range-radio {
    input {
      margin-right: 0.5rem;
    }

    margin-bottom: 1rem;
  }

  .date-range-buttons {
    display: flex;

    .btn {
      flex: 1 0 0;
    }
  }
}

.dropzone {
  display: flex;
  justify-content: center;
  .fa {
    color: $gray50;
  }
  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px dashed $gray16;
    border-radius: 0.5rem;
    flex: 0 1 50%;
    padding: 2rem;
    &--disabled {
      border-color: $red !important;
      border-style: solid;
    }
    &--active {
      border-color: $green;
      border-style: solid;
    }
  }
}
