/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Base ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  font-family: $font-family-sans-serif;
  background-color: $black-3;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
a {
  @include setColorAndHover($link-color);
  &:focus {
    box-shadow: none;
    outline: $blueGray dotted thin;
  }
}

.tooltip {
  font-size: 0.75rem;
}
