/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Base ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  font-family: $font-family-sans-serif;
  background-color: $black-3;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
a {
  @include setColorAndHover($link-color);
  &:focus {
    box-shadow: none;
    outline: $blueGray dotted thin;
  }
}

.tooltip {
  font-size: 0.75rem;
}

.main-container {
  display: flex;
  overflow-y: auto !important;
}

.layout {
  margin-top: $header-height;
  flex: 1 1 100%;
  flex-direction: column;
}
