/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Base ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  font-family: $font-family-sans-serif;
  background-color: $gray3;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
a {
  @include setColorAndHover($link-color);
}

.tooltip {
  pointer-events: none;
  font-size: 0.75rem;
}
