/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Buttons ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Button transtions
button,
input[type='submit'],
input[type='button'],
.btn {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

// Basic Button
.btn {
  display: inline-block;
  font-family: $font-family-base;
  font-size: 0.75rem;
  font-weight: 400;
  @include border-radius();
  line-height: 1.75rem;
  padding: 0.1875rem 0.75rem;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
  &.disabled,
  &[disabled] {
    pointer-events: none;
    opacity: 0.65;
  }
}

// Primary Button
.btn-primary {
  @extend .btn;
  color: $white;
  @include setButtonColorAndHover($primary);
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include setButtonColorAndHover($primary);
  }
  &.disabled,
  &[disabled] {
    background-color: lighten($primary, 5%);
    border-color: lighten($primary, 5%);
  }
}

// Secondary Button
.btn-secondary {
  @extend .btn;
  color: $white;
  @include setButtonColorAndHover($secondary);
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include setButtonColorAndHover($secondary);
  }
  &.disabled,
  &[disabled] {
    background-color: lighten($secondary, 5%);
    border-color: lighten($secondary, 5%);
  }
}

// Button Link
.btn-link {
  @extend .btn;
  @include setButtonColorAndHover(transparent);
  color: $link-color;
  &:hover,
  &:focus,
  &:active {
    color: tint($link-color, 10%);
    text-decoration: none;
  }
}

// Button Subtle
.btn-subtle {
  @extend .btn;
  @include setButtonColorAndHover($gray2);
  color: $black;

  &:hover,
  &:focus,
  &:active {
    color: $link-color;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    cursor: not-allowed;
  }
}
// Button Inverse
.btn-inverse {
  color: $primary;
  background-color: white;
  border-color: $gray3;
  &:hover {
    border-color: $gray2;
    color: $primary;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}

// Buttons with icons
.btn-icon {
  border: 0;
  background-color: transparent;
  color: $gray;
  &:hover {
    color: $primary;
  }

  &.btn-subtle {
    background-color: $blue3;
    color: $blue1;
  }
  &.btn-expand {
    padding-left: 0;
    padding-right: 0;
  }
}

// Button Outline primary
.btn-outline-primary {
  border-color: $primary;
  color: $primary;
  &:hover {
    background-color: $primary;
    border-color: $primary;
  }
}

// Button Secondary primary
.btn-outline-secondary {
  border-color: $secondary;
  color: $secondary;
  &:hover {
    background-color: $secondary;
    border-color: $secondary;
  }
}

// Button groups for Next/Previous
.btn-group {
  .btn-inverse {
    @include setBgColorAndHover($white);
  }
}

// Button Large
.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

// Button Small
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.6125rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

// Discussion Button
.btn-discussion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }
}
//
.input-group-addon:not(:first-child):not(:last-child) {
  border-right: 0;
  border-left: 0;
}

// Kinetic Form Buttons
button[data-element-type='button'] {
  @extend .btn-primary;
  &[data-button-type='submit-page'],
  &[data-button-type='custom'] {
    @extend .btn-primary;
  }
  &[data-button-type='custom'].btn-link {
    @extend .btn-link;
  }
  &[data-button-type='custom'].btn-subtle {
    @extend .btn-subtle;
  }

  &[data-button-type='previous-page'] {
    @extend .btn-secondary;
    float: left;
    position: relative;
    padding-left: 2.4rem;
    &:before {
      font-family: 'FontAwesome';
      font-weight: 400;
      content: '\f053';
      position: absolute;
      top: 50%;
      left: 0.5rem;
      width: 1.4rem;
      height: 1.4rem;
      line-height: 1;
      margin-top: -0.4rem;
    }
  }

  &[data-button-type='save'] {
    @extend .btn-subtle;
    position: relative;
    padding-left: 2rem;
    // Save Icon
    &:before {
      font-family: 'FontAwesome';
      font-weight: 400;
      content: '\f0c7';
      position: absolute;
      top: 50%;
      left: 0.5rem;
      width: 1rem;
      height: 1rem;
      line-height: 1;
      margin-top: -0.4rem;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }
}
.fileinput-button {
  @extend .btn-subtle;
}
