/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Cards ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cards__wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.fa.card-icon,
.card-icon {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.75rem;
  background-color: $greenGrass;
  margin-right: 5px;
  margin-top: 6px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  color: $white;
  flex-shrink: 0;
}
