.select-combobox {
  // The div that wraps the select up.
  &--assignment {
    padding-left: 1rem;
    width: 100%;
  }
  & > div {
    // display: inline-block;
    // The input for the select.
    input {
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      width: 100%;
      border: 1px solid $border-color;
      border-radius: $border-radius-base;
      background-color: $white;
      flex: 1 1 100%;
    }

    & > div {
      position: absolute;
      overflow: auto;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      z-index: 1050;
      max-height: 285px;
      width: 280px;
      border: 1px solid $border-color;
      border-radius: $border-radius-base;
      background-color: $white;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &__title {
    display: flex;
    align-items: center;
    height: 17px;
    color: $blue-lake;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin: 0;

    padding-left: 11px;
  }

  .item {
    display: flex;
    align-items: center;
    height: 2.25rem;
    border-radius: $border-radius-base;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: $gray80;
    font-size: 0.875rem;
    line-height: 1.1875rem;

    padding-left: 1.25rem;
    cursor: pointer;

    &.item-highlighted {
      background-color: $gray3;
    }

    &:hover {
      background-color: $gray3;
    }
  }
}
