.design-system-page {
  hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background-color: #999;
    width: 100%;
  }
  .highlight {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f7f7f9;
    @include border-radius();
    -ms-overflow-style: -ms-autohiding-scrollbar;
    pre {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      background-color: transparent;
      border: 0;
    }
  }
  .button-example {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .btn {
    margin-right: 0.5rem;
  }
  .btn-group {
    .btn {
      margin-right: 0;
    }
  }
}

.package-layout {
  &--design-system {
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    .sidebar {
      margin-top: 0;
    }
  }
}
