/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Empty States ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.empty-state,
.error-state,
.info-state,
.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  > :first-child {
    margin-top: 1.5rem;
  }
  > :last-child {
    margin-bottom: 1.5rem;
  }
  > * + * {
    margin-top: 1rem;
  }
  &__heading {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  &__message {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  &__actions {
    button .fa:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

.empty-state,
.loading-state {
  color: $gray50;
  &__message {
    color: rgba($gray50, 0.8);
  }
}

.error-state {
  color: $red;
  &__message {
    color: rgba($red, 0.8);
  }
}
