/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Empty States ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.empty-state,
.error-state,
.info-state,
.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__title {
    color: $blue-lake;
    @include ms-respond(font-size, 2);
    font-weight: 600;
    line-height: 1.5rem;
  }
  &__subtitle {
    color: $blue-gray;
    @include ms-respond(font-size, -1);
    line-height: 1.5rem;
  }
  button {
    // color: $blue2;
    // @include ms-respond(font-size, 0);
    margin-bottom: 1.5rem;
  }
}

.error-state {
  h4,
  h5 {
    color: $red;
  }
  h6 {
    color: $red-rose;
  }
}
