/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Forms ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form,
.form {
  margin-left: 0;
  padding: 0.75rem 0.75rem 3rem 0.75rem;
  font-weight: 400;
  font-size: 0.875rem;
  overflow: hidden;
  background: $white;
  label {
    /* Make the label a block */
    color: rgba($black, 0.75);
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.375rem;
    line-height: 0.75rem;
    &.field-label {
      margin-top: 0.75rem;
      padding: 0;
      width: 100%;
    }
  }
}

// Required asterisk after label
.checkbox.required label:first-child:after,
.radio.required label:first-child:after,
.form-group.required label.field-label:after {
  content: '*';
  color: red;
}

form {
  // Headings
  section h1 {
    margin-top: 0;
    & ~ section h1 {
      margin-top: 1rem;
    }
  }
  // Checkboxes & Radios
  .checkbox label,
  .radio label {
    min-height: 20px;
    padding-left: 1.5rem;
    font-weight: 400;
    cursor: pointer;
  }
  .radio label:first-child {
    padding-left: 0;
    font-weight: 600;
  }
  .checkbox label {
    &:first-child {
      padding-left: 0;
      font-weight: 600;
    }
    + input {
      padding-left: 2rem;
    }
  }
  .radio,
  .checkbox {
    margin-bottom: 1rem;
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: ' ';
      clear: both;
    }

    label {
      margin-bottom: 0;
      cursor: pointer;
      line-height: 1;
      &:first-child:not(.field-label) {
        margin-right: 2rem;
        margin-left: 1rem;
      }
      &:not(.field-label) {
        float: left;
        margin-right: 1.5rem;
        margin-left: 0;
      }
    }
  }
  .checkbox-inline input[type='checkbox'],
  .checkbox input[type='checkbox'],
  .radio-inline input[type='radio'],
  .radio input[type='radio'] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }

  // Inputs
  input {
    &[type='text'],
    &[type='password'] {
      background: #fff;
      border: 1px solid $blue3;
      border-radius: 3px;
      width: 100%;
      outline: none;
      padding: 0.5rem;
      &::-webkit-input-placeholder {
        color: rgba($black-50, 0.5);
      }
    }
    &[type='text'][disabled],
    &[type='password'][disabled],
    &[type='radio'][disabled],
    &[type='checkbox'][disabled],
    &[disabled] {
      cursor: not-allowed;
    }
    &[disabled] {
      background-color: #eee;
      opacity: 1;
    }
    &[readonly],
    &[type='text'][readonly],
    &[type='search'][readonly],
    &[type='url'][readonly],
    &[type='tel'][readonly],
    &[type='email'][readonly],
    &[type='number'][readonly],
    &[type='password'][readonly] {
      background-color: #eee;
      opacity: 1;
    }
  }
  // Textarea
  textarea {
    background: #fff;
    border: 1px solid $blue3;
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    &::-webkit-input-placeholder {
      color: rgba($black-50, 0.5);
    }
    &[disabled] {
      cursor: not-allowed;
    }
    &[disabled],
    &[readonly] {
      background-color: #eee;
      opacity: 1;
    }
  }
  // Focus
  input[type='text']:focus,
  textarea:focus {
    border-color: $blue2;
  }
  select {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $black;
    background-color: $white;
    background-image: none;
    border: 1px solid $blue3;
    border-radius: 0.4rem;
    width: 80%;
    // Testing
    display: block;
    text-decoration: none;
    width: 100%;
    // height: 30px;
    border-image: initial;
    outline: none;
    border-radius: 0.5rem;
    transition: border-color 0.3s linear;
    &[disabled] {
      cursor: not-allowed;
    }
    &[disabled] {
      background-color: #eee;
      opacity: 1;
    }
  }
}

/* Requested For search display
 *-------------------------------------- */
.requested-for-display-name {
  span.fa-edit,
  span.fa-times-circle {
    margin-left: 5px;
    cursor: pointer;
  }
}

.tt-menu {
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  .fa.pull-left {
    margin: 0;
  }
}

/* Error Messages
*-------------------------------------- */
form {
  .errors {
    display: none;
    margin: 0 auto;
    width: 90%;
  }
  .errors {
    font-size: 1rem;
    background-color: #faf0ef;
    border: 0.1rem solid #d5d5d5;
    color: #000;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 60%;
    p {
      font-style: bold;
      font-size: larger;
      background-color: #c00;
      border-bottom: 0.1rem solid #d5d5d5;
      color: white;
      padding: 0.25rem 0.5rem;
    }
  }
  .form-group,
  .radio,
  .checkbox {
    &.has-success {
      label,
      label.field-label,
      .empty-message {
        color: green;
      }
      .form-control,
      input,
      select,
      textarea {
        border-color: green;
        box-shadow: none;
      }
    }

    &.has-warning {
      label,
      label.field-label,
      .empty-message {
        color: yellow;
      }
      .form-control,
      input,
      select,
      textarea {
        border-color: yellow;
        box-shadow: none;
      }
    }

    &.has-error {
      label,
      label.field-label,
      .empty-message {
        color: red;
      }
      .form-control,
      input,
      select,
      textarea {
        border-color: red;
        box-shadow: none;
      }
    }
  }
}

/* Section Page > Form
 *-------------------------------------- */
section.page {
  .page-header {
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  form {
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    padding: 1.5rem;
    // background-color: #f5f5f5;
    // @include border-radius();
    // box-shadow: 0 1px 3px rgba(49, 62, 71, 0.14);
    clear: both;

    section {
      display: block;
      margin-bottom: 2rem;
    }

    h1 {
      padding: 0 0 1rem;
    }

    .radio,
    .checkbox {
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ' ';
        clear: both;
      }

      label {
        margin-bottom: 0;
        margin: 0 0 1rem 0;
        font-weight: 600;
        cursor: pointer;

        &:first-child:not(.field-label) {
          margin-right: 2rem;
          margin-left: 1rem;
        }

        &:not(.field-label) {
          float: left;
          margin-right: 1.5rem;
          margin-left: 0.1rem;
        }
      }

      &.vertical label:not(.field-label) {
        clear: both;
      }

      &.disabled label:not(.field-label) {
        opacity: 0.85;
      }
    }

    /* Attachment files
     *-------------------------------------- */
    .empty > .file-table > .file-header {
      display: none;
    }
    .file-table {
      display: table;
      margin: 0px;
      padding: 0px;

      .file-header {
        display: table-header-group;
        color: $black;
      }
      .file-row {
        display: table-row;
        > span {
          display: table-cell;
          padding: 0.5rem;
          > a {
            padding: 0 0.5rem;
          }
        }
      }
      .file-container {
        display: table-row-group;
      }
    }
  }

  &.embedded {
    form {
      margin: 0;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.form__footer {
  margin: 0 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  &__left {
    // Future reference
  }
  &__right {
    align-self: flex-end;
    margin-left: auto;
  }
  a {
    margin-bottom: 1.875rem;
    line-height: normal;
  }
}
/* Media Queries
 *-------------------------------------- */

@media (max-width: 991px) {
  label.field-label {
    width: 100%;
    float: none;
  }
}
