/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Icons ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// SVG colors
.icon-svg {
  height: 1rem;
  width: 1rem;
  path,
  .primary-fill {
    fill: $gray50;
  }
  .primary-stroke {
    stroke: $gray50;
    fill: none;
  }
}

// Wrapper for React icons
.icon-wrapper {
  display: flex;
  align-items: center;
  .icon {
    display: flex;
  }
}
