/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.app-wrapper {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.app-header {
  flex: 0 0 auto;
}

.app-body {
  flex: 1;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  transition: margin 0.3s;

  &.closed-sidebar {
    margin-left: -252px;
  }

  .app-sidebar-container {
    flex: 0 0 auto;
    position: relative;
  }

  .app-main-container {
    flex: 1;
    min-height: 0;
    position: relative;
    display: block;
    overflow-y: auto !important;
  }
}

@media all and (max-width: 767px) {
  .app-body {
    &.open-sidebar,
    &.closed-sidebar {
      margin-left: 0;

      .app-main-container:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 10;
      }
    }

    &.closed-sidebar {
      .app-main-container:after {
        opacity: 0;
        visibility: hidden;
      }
      .app-sidebar-container {
        left: -252px;
      }
    }

    &.open-sidebar {
      .app-main-container {
        overflow: hidden;
      }
    }

    .app-sidebar-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1022;
      transition: left 0.3s;
    }
  }
}

.package-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  &--guest {
    .page-container--space-home {
      //margin-top: $header-height !important;
    }
    //height: 100vh;
  }
}

.page-container {
  // display: flex;
  flex: 1;
  &--panels {
    display: flex;
    height: 100%;
  }
  // min-height: 100%;
}

.page-panel {
  position: relative;
  background: rgb(255, 255, 255);
  padding: 0 1.5rem;
  // min-height: $page-height;
  // height: 100%;
  width: 100%;
  min-height: 100%;
  &--sidebar {
    @media (min-width: 0) {
      display: none;
    }
    @media (min-width: 576px) {
      display: flex !important;
    }
  }
  &--transparent {
    background-color: transparent;
  }
  &--auto-height {
    min-height: auto;
  }
  &--scrollable {
    overflow-y: auto;
  }
  // Thirds
  &--two-thirds {
    flex: 1 1 66%;
    &:first-child {
      border-right: 1px solid $black-16;
    }
  }
  &--one-thirds {
    flex: 1 1 33%;
  }
  // 60/40
  &--three-fifths {
    flex: 1 1 60%;
    border-right: 1px solid $black-16;
  }
  &--two-fifths {
    flex: 1 1 40%;
  }
}
.page-content {
  flex: 1 0 100%;
}

.data-list-row {
  display: flex;
  flex-wrap: wrap;
  &__col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  dl {
    color: $black;
    font-size: 0.875rem;
    margin-bottom: 0;
  }
}

.group-divider {
  align-items: center;
  color: $blue-lake;
  display: flex;
  @include ms-respond(font-size, -1);
  font-weight: bold;
  text-align: center;
  > hr {
    border: 2px solid $blue3;
    flex: 1 0 auto;
  }
  > span {
    margin: 0 0.75rem;
    &:empty {
      display: none;
    }
  }
}
