/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Navigation ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Nav-tabs
.nav-tabs {
  > li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    a {
      text-decoration: none;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    a.active {
      border-bottom: 2px solid $orange;
    }
  }
  .badge {
    margin-left: 0.25rem;
  }
  .badge-primary {
    background-color: $blue;
  }
}

// Return Nav
.nav-return {
  display: block;
  border-bottom: 1px solid $gray16;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.8125rem 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .icon {
    margin-right: 0.5em;
  }
  .sidebar & {
    background-color: $white;
  }
}
