/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Page Title ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-title-wrapper {
  justify-content: space-between;
  display: flex;
  h1 {
    margin-top: 0;
    color: $blueSlate;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
  }
  h3 {
    color: $orange-kinops;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5rem;
    a {
      color: $orange-kinops;
      font-size: 0.9375rem;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5rem;
    }
  }
  // Any object to the right of the title
  a,
  .btn-group {
    margin-bottom: 1.875rem;
    align-self: flex-end;
    // line-height: normal;
  }
}

// Section Title with top bar.
.section-title {
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 2.125rem;
  font-weight: 600;
  padding: 0 0.75rem;
  margin: 0 0 1rem 0;
  border-top: 2px solid $black-16;
  a,
  .fa {
    color: $gray;
    font-size: 0.75rem;
    &:hover {
      color: $blueLake;
    }
  }
}
// Sort by
.sort-block {
  // height: 2rem;
  color: $blueLake;
  font-size: 0.9166666667rem;
  line-height: 2rem;
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  strong {
    font-weight: 300;
    color: $blueLake;
  }
}
