/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Page Title ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-title {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex: 1 1 100%;
  h1,
  .breadcrumb-last {
    margin-top: 0;
    color: $blue-slate;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    &:first-child {
      margin-top: 1.5rem;
    }
    small,
    .small {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  .breadcrumb-item {
    display: inline-block;
    color: $orange-kinops;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5rem;
    + span,
    a {
      color: $orange-kinops;
      font-size: 0.9375rem;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5rem;
    }
  }
  ol,
  &__breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 0;
  }
  // Any object to the right of the title
  > a,
  > button,
  > .btn-group,
  > .page-title__actions {
    margin-bottom: 1.875rem;
    // line-height: normal;
    @media all and (min-width: 0) {
      // align-self: flex-start;
    }
    @media all and (min-width: 768px) {
      align-self: flex-end;
      flex-shrink: 0;
    }
  }
  &__actions {
    @media all and (min-width: 0) {
      display: flex;
      justify-content: space-between;
      .btn {
        margin-left: 0;
      }
    }
    @media all and (min-width: 768px) {
      align-self: flex-end;
      margin-top: 1.5rem;
      .btn {
        margin-left: 0.5rem;
      }
      .btn-group .btn {
        margin-left: 0;
      }
    }
  }
  > a:not(.btn) {
    color: $gray50;
    &:hover {
      color: $blue-lake;
    }
  }
  @media all and (min-width: 0) {
    flex-direction: column;
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

// Section Title with top bar.
.section__title {
  color: $gray80;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 2.125rem;
  font-weight: 600;
  padding: 0 0.75rem;
  margin: 0 0 1rem 0;
  border-top: 2px solid $gray16;
  form &,
  .form & {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  > a,
  > .fa {
    color: $gray50;
    font-size: 0.75rem;
    &:hover {
      color: $blue-lake;
    }
  }

  + .section__content {
    margin-bottom: 3rem;
  }
}
