/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Page Title ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-title {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex: 1 1 100%;
  h1 {
    margin-top: 0;
    color: $blue-slate;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
  }
  h3 {
    color: $orange-kinops;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5rem;
    a {
      color: $orange-kinops;
      font-size: 0.9375rem;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.5rem;
    }
  }
  // Any object to the right of the title
  > a,
  > button,
  > .btn-group,
  > .page-title__actions {
    margin-bottom: 1.875rem;
    // line-height: normal;
    @media all and (min-width: 0) {
      // align-self: flex-start;
    }
    @media all and (min-width: 768px) {
      align-self: flex-end;
    }
  }
  .page-title__actions {
    @media all and (min-width: 0) {
      display: flex;
      justify-content: space-between;
      .btn {
        margin-left: 0;
      }
    }
    @media all and (min-width: 768px) {
      align-self: flex-end;
      .btn {
        margin-left: 0.5rem;
      }
      .btn-group .btn {
        margin-left: 0;
      }
    }
  }
  > a:not(.btn) {
    color: $gray;
    &:hover {
      color: $blue-lake;
    }
  }
  @media all and (min-width: 0) {
    flex-direction: column;
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

// Section Title with top bar.
.section__title {
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  line-height: 2.125rem;
  font-weight: 600;
  padding: 0 0.75rem;
  margin: 0 0 1rem 0;
  border-top: 2px solid $black-16;
  form &,
  .form & {
    margin-left: -15px;
  }
  a,
  .fa {
    color: $gray;
    font-size: 0.75rem;
    &:hover {
      color: $blue-lake;
    }
  }
}
