/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Pagination ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-item.active .page-link {
  z-index: 1;
  color: $white;
  background-color: $blue-lake;
  border-color: $blue-lake;
  &:hover {
    color: $white;
    background-color: $blue-lake;
  }
}
.page-link {
  color: $blue-lake;
  background-color: $white;
  border-color: $gray3;
  &:hover {
    border-color: $black-16;
    // background-color: $white;
    box-shadow: 0 1px 2px 0 rgba($black, 0.1);
  }
}
