/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Search box ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.search-box {
  flex: 1 1 auto;
}

.search-box__form {
  background: $white;
  border-radius: $border-radius-base;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  width: auto;
  border: 1px solid rgba($gray16, 1);

  div[role=search]{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button,
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
  }
  button {
    position: relative;
    background-color: $gray10;
    border-top-right-radius: $border-radius-base ;
    border-bottom-right-radius: $border-radius-base ;
    line-height: 1.125rem;
    padding: 0.9375rem;
    cursor: pointer;
  }
  input {
    flex: 1 0 auto;
  }
  // Search Input
  input[type='text'],
  input[type='search'] {
    height: auto;
    border: none;
    border-radius: $border-radius-base;
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0 ;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    padding: 0.9375rem;
  }
  &::placeholder {
    color: #ffffff;
  }
}
