/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Search box ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.search-box {
  flex: 1 1 auto;
}

.search-box__form {
  align-items: center;
  background: $white;
  border-radius: $border-radius-base;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  width: auto;

  border: 1px solid rgba($black-16, 1);

  &:hover,
  &:focus {
    background: darken(desaturate($white, 10), 5);
    box-shadow: inset 0 0 5px $blue;
    &::-webkit-input-placeholder {
      color: $black-50;
    }
  }
  button,
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
  }
  button {
    width: 3rem;
    cursor: pointer;
    // padding: 0 0.25rem;
  }
  input {
    flex: 1;
  }
  // Search Input
  input[type='text'] {
    height: auto;
    border: none;
    border-radius: $border-radius-base;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.125rem;
    padding: 1rem;
    &:focus {
      border: none;
    }
  }
  &::placeholder {
    color: #fff;
  }
}
