/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Status ~ Queue
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.queue {
  .status-paragraph {
    display: flex;
    justify-content: space-between;
  }

  .status {
    text-transform: uppercase;
    @include ms-respond(font-size, -2);
    margin: 0;
    line-height: 1.5rem;
    &.status-cancelled {
      color: $red;
    }
    &.status-complete {
      color: $blue;
    }
    &.status-open {
      color: $greenTeal;
    }
    &.status-pending {
      color: $orange;
    }
    .status-reason {
      color: $blueSky;
      margin-left: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
    }
  }
}
