/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Tables ~ Common
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Attachment files
 *-------------------------------------- */
.empty > .file-table > .file-header {
  display: none;
}

.file-table {
  display: table;
  margin: 0px;
  padding: 0px;
}

.file-row {
  display: table-row;
  > span {
    display: table-cell;
    padding: 0.5rem;
    > a {
      padding: 0 0.5rem;
    }
  }
}

.file-header {
  display: table-header-group;
  font-weight: 700;
  span {
    border-bottom: 1px solid $gray50;
  }
}

.file-container {
  display: table-row-group;
}

.scroll-wrapper-h {
  overflow-x: auto;
}

table.table--settings {
  font-size: 0.9375rem;

  tbody {
    tr {
      td {
        > a {
          font-weight: 600;
        }
        > small {
          color: $gray50;
        }
        > .list-dropdown {
          & > button {
            padding: 0;
            color: $gray50;
            &:hover {
              color: darken($gray50, 5%);
            }
          }
        }
        > .dropdown {
          .btn {
            background-color: transparent;
            font-size: 1rem;
            padding: 0rem 0.25rem;
          }
          .dropdown-menu {
            font-size: 0.9375rem;
          }
        }
        & .dropdown-item {
          padding: 0.25rem 1rem;
        }
      }
    }
  }

  tfoot {
    background: none;
  }

  &.table-draggable {
    border-collapse: separate;
    border-spacing: 0px;

    tbody {
      tr {
        &.dragging {
          background-color: $tertiary40;
          td {
            border: none;
          }
          td + td {
            display: none;
          }
        }
      }
    }
  }

  .btn {
    white-space: nowrap;
  }
}

thead.sortable {
  th:not(.sort-disabled) {
    cursor: pointer;
    position: relative;
    padding-right: 1.1rem;
    vertical-align: initial;

    &:before {
      font-family: 'FontAwesome';
      font-weight: 400;
      content: '\f0dc';
      position: absolute;
      right: 0.3rem;
      opacity: 0.3;
    }

    &.sort-asc:before,
    &.sort-desc:before {
      opacity: 0.8;
      color: $link-color;
    }
    &.sort-asc:before {
      content: '\f0de';
    }
    &.sort-desc:before {
      content: '\f0dd';
    }
  }
}

@media (min-width: 768px) {
  .d-md-table-header-group {
    display: table-header-group !important;
  }
}

tfoot {
  border-top: 1px solid $gray50;
  background: $gray3;
  padding: 1rem;
  position: relative;
}
