/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Loading Spinner for empty state

.loadingWrapper {
  justify-content: center;
  align-items: center;
  display: flex;

  flex-direction: row;

  min-height: 100%;
  min-height: 100vh;
  .loading {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
