/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Common
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Temporary fix for <pre> overflow in flexbox

html,
body,
div,
span,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
main,
nav,
ins {
  min-width: 0;
}

// Loading Spinner for empty state

.loadingWrapper {
  justify-content: center;
  align-items: center;
  display: flex;

  flex-direction: row;

  min-height: 100%;
  min-height: 100vh;
  .loading {
    display: flex;
    align-content: center;
    align-items: center;
  }
}

.popover.avatar-popover {
  border: none;
  .card.card--profile {
    margin-bottom: 0px;
  }
}
