// Variables  ~ Common

// Colors
// --------------------------------------

// Discussion colors
$transparent-gray1: rgba(51, 51, 51, 0.15);
$gray: rgb(126, 128, 131);
$gray2: rgba(213, 213, 213, 1);
$gray3: rgba(223, 226, 229, 1);
$gray4: rgba(236, 236, 236, 1);

$blue1: rgba(84, 105, 141, 1);
$blue2: rgba(168, 183, 199, 1);
$blue3: rgba(211, 220, 231, 1);
$blue4: rgba(244, 246, 249, 1);
$present: rgba(0, 212, 100, 1);

// Black, grays, and whites
$black: rgb(52, 52, 52);
$black-3: rgb(247, 247, 247);
$black-5: rgb(241, 241, 241);
$black-16: rgb(213, 213, 213);
$black-50: rgb(126, 128, 131);
$white: rgb(255, 255, 255);

// Color range with similar hue
$blue: rgb(16, 148, 196); // #1094C4
$blue-gray: rgb(168, 183, 199); // #A8B7C7
$blue-lake: rgb(9, 84, 130); // #095482
$blue-slate: rgb(12, 56, 79); // #0C384F
$blue-sky: rgb(11, 168, 224); // #0BA8E0
$green-grass: rgb(0, 212, 106); // #00D46A
$green: rgb(102, 225, 65); // #66E041
$green-teal: rgb(2, 212, 177); // #02D4B1
$orange: rgb(255, 153, 28); // #FF991C
$orange-kinetic: rgb(214, 105, 42); // #D6692A
$orange-kinops: rgb(255, 119, 0); // #FF7700
$purple: rgb(166, 48, 150); // #A63096
$red-purple: rgb(191, 52, 121); // #BF3479
$red: rgb(250, 58, 55); // #FA3A37
$red-rose: rgb(255, 74, 94); // #FF4A5E
$yellow: rgb(254, 233, 78); // #FEE94D
$sunflower: rgb(255, 207, 74); // #FFCF4A

// Button colors
$primary: $blue-lake;
$primary-complement: $white;
$secondary: $orange-kinops;
$secondary-complement: $white;

// Text, link, border colors
$text-color: $black-50 !default; // Global text color on `<body>`.
$link-color: $blue-lake !default; // Global textual link color.
$border-color: $black-16 !default; // Global border color.

// Typography
// --------------------------------------

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default; // Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Default font size. Equal to 16px.
$line-height-base: 1.5rem !default; // Default line height. Equal to 24px.

// Components
// --------------------------------------

$enable-rounded: true;
$border-radius-base: 0.25rem !default; // Default border radius. Equal to 4px

$margin-increment: 0.5rem;
$margin-count: 5;
$padding-increment: 0.5rem;
$padding-count: 5;

// Image & Fonts paths variable
$image-path: '../images';
$font-path: '../../fonts';

// Header height & Page Height
$header-height: 48px;
$page-height: calc(100vh - #{$header-height});

// Z-index defaults
$z-index-page: 100;
$z-index-navigation: 200;
$z-index-modal: 300;

// Set Responsive Base sizes for Modularscale
$modularscale: (
  base: 12px,
  ratio: 1.125,
  768px: (
    14px ratio: 1.125,
  ),
  1200px: (
    base: 16px,
    ratio: 1.125,
  ),
);
