/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ kinops
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
  font-family: $font-family-sans-serif;
  background-color: $black-3;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // Fix for modal z-index issue in IE 11 on Windows 10
  position: relative;
  z-index: 0;
}
