/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Profile ~ kinops
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.profile-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: $blue-lake;
  a {
    color: $blue-lake;
    text-decoration: none;
  }
  .profile-header {
    background-color: $white;

    h6 {
      margin: 0;
      padding: 0.5rem 1.5rem;
      font-weight: 500;
      small {
        color: $gray80;
      }
    }
  }
  .profile-links {
    display: flex;
    flex-direction: column;
    a,
    button {
      color: $gray50;
      &:hover {
        background-color: lighten($gray8, 5%);
      }
      &:last-of-type {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .icon {
        margin-right: 5px;
      }
    }
  }
}
