/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ kinops
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Used for scrollbars in IE11
// .modal-open .main-container {
//   -ms-overflow-y: visible !important;
// }

#root {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: row;
  transition: margin 0.3s;
  height: $page-height;

  .sidebar-container {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    position: relative;

    .sidebar-toggle {
      position: absolute;
      top: 22px;
      right: -18px;
      width: 36px;
      height: 36px;
      font-size: 18px;
      line-height: 36px;
      background-color: #f7f7f7;
      border-radius: 50%;
      border: 1px solid #d5d5d5;
      color: #7e8083;
      z-index: 1023;
      cursor: pointer;
      transition: transform 0.3s;
    }
  }

  .main-container {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
  }

  &.open-sidebar,
  &.closed-sidebar {
    .sidebar-container:after {
      content: '';
      position: absolute;
      top: 0;
      right: 1px;
      height: 100%;
      width: 23px;
      background-color: #f7f7f7;
      z-index: 1022;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
    }
  }

  &.closed-sidebar {
    margin-left: -228px;

    .sidebar-container {
      .sidebar-toggle {
        transform: rotate(180deg);
      }

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .app-container {
    position: relative;
    display: block;
    padding-left: 24px !important;
    margin-left: 0 !important;

    .sidebar-container {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1022;
      transition: left 0.3s;

      .sidebar-toggle {
        position: absolute;
        top: 22px;
        right: -18px;
        width: 36px;
        height: 36px;
        font-size: 18px;
        line-height: 36px;
        background-color: #f7f7f7;
        border-radius: 50%;
        border: 1px solid #d5d5d5;
        color: #7e8083;
        z-index: 1023;
        cursor: pointer;
      }
    }

    .main-container {
      position: relative;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: auto;
    }

    &.open-sidebar,
    &.closed-sidebar {
      .main-container:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
      }
    }

    &.closed-sidebar {
      .main-container:after {
        opacity: 0;
        visibility: hidden;
      }
      .sidebar-container {
        left: -228px;
      }
    }

    &.open-sidebar {
      .main-container {
        overflow: hidden;
      }
    }
  }
}
