/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Card Overrides ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.card--category,
.card--request,
.card--service {
  border: 1px solid $black-16;
  margin-bottom: 0.75rem;
  padding: 0.6875rem 1rem;
  transition: background-color 0.3s;
  @include setBgColorAndHover($white);

  &:focus,
  &:hover {
    text-decoration: none;
  }

  h1 {
    color: $black;
    display: inline-flex;
    font-size: 1.4375rem;
    @include ms-respond(font-size, 3);
    font-weight: 600;
    line-height: 2.25rem;
    margin: 0;
  }

  p {
    color: $black-50;
    font-size: 1rem;
    line-height: 1.5rem;
    @include ms-respond(font-size, 1);
    margin-bottom: 0;
  }
}
.card--category {
  p {
    margin-left: 1.875rem;
    @include ms-respond(font-size, 0);
  }
}
// Request Card
.card--request {
  h1 {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    @include ms-respond(font-size, 1);
    line-height: 1.5rem;
  }

  p {
    color: $black-50;
    font-size: 0.875rem;
    @include ms-respond(font-size, 0);
    line-height: 1rem;
    padding: 0.625rem 0;
  }

  .card-icon {
    margin-top: 0;
  }

  .fa.edit {
    color: $black-50;
    line-height: 1.5rem;
  }

  .meta dl {
    color: $black;
    font-size: 0.5625rem;
    @include ms-respond(font-size, -3);
    margin-bottom: 0;
    line-height: 0.75rem;
    dd {
      margin-bottom: 0;
    }
  }
}

.card-icon {
  &--greengrass {
    background-color: $green-grass;
  }

  &--sunflower {
    background-color: $sunflower;
  }
}
//

.status {
  color: $white;
  text-align: center;
  padding: 0.125rem 0.625rem;
  font-size: 50%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  align-self: center;
  border-radius: 0.75rem;
  margin-left: auto;
  flex: 0 0 auto;

  &--gray {
    background-color: $black-50;
  }

  &--yellow {
    background-color: $sunflower;
    color: $black;
  }

  &--green {
    background-color: $green-grass;
  }

  &--red {
    background-color: $red;
  }
}
// Empty State Card
.card--empty-state {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  background-color: transparent;

  h1 {
    font-size: 1.125rem;
    color: $blue-slate;
    font-weight: 600;
    margin-top: 1rem;
  }

  p {
    color: $blue-gray;
    font-size: 0.875rem;
  }
}
