/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Categories ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-container--services-category {
  .card {
    flex: 0 0 auto;
    @media all and (min-width: 0) {
      flex-basis: 100%;
      @media all and (-ms-high-contrast: none) {
        width: 100%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 576px) {
      flex-basis: 48%;
      @media all and (-ms-high-contrast: none) {
        width: 48%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 768px) {
      flex-basis: 48%;
      @media all and (-ms-high-contrast: none) {
        width: 48%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 992px) {
      flex-basis: 31%;
      @media all and (-ms-high-contrast: none) {
        width: 31%;
        flex-basis: auto;
      }
    }
    @media all and (min-width: 1200px) {
    }
  }
}
