/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ Services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Services top border bar
.services-color-bar {
  height: 1.5rem;
  width: 100%;
  display: block;
  &__blue-slate {
    background-color: $blueSlate;
  }
  &__green-grass {
    background-color: $greenGrass;
  }
}
// Services Main content
.package-layout--services {
  .page-container {
    // Services Container
    &--services-home {
      display: flex;
      @media all and (min-width: 0) {
        flex-direction: column;
      }
      @media all and (min-width: 576px) {
        flex-direction: column;
      }
      @media all and (min-width: 768px) {
        flex-direction: column;
      }
      @media all and (min-width: 992px) {
        flex-direction: row;
      }
      @media all and (min-width: 1200px) {
      }
      .card {
        flex: 0 0 auto;
        @media all and (min-width: 0) {
          flex-basis: 100%;
          @media all and (-ms-high-contrast: none) {
            width: 100%;
            flex-basis: auto;
          }
        }
        @media all and (min-width: 576px) {
          flex-basis: 48%;
          @media all and (-ms-high-contrast: none) {
            width: 48%;
            flex-basis: auto;
          }
        }
        @media all and (min-width: 768px) {
        }
        @media all and (min-width: 992px) {
        }
        @media all and (min-width: 1200px) {
        }
      }
    }

    // Categories container
    &--services-category {
      .card {
        flex: 0 0 auto;
        @media all and (min-width: 0) {
          flex-basis: 100%;
          @media all and (-ms-high-contrast: none) {
            width: 100%;
            flex-basis: auto;
          }
        }
        @media all and (min-width: 576px) {
          flex-basis: 48%;
          @media all and (-ms-high-contrast: none) {
            width: 48%;
            flex-basis: auto;
          }
        }
        @media all and (min-width: 768px) {
          flex-basis: 48%;
          @media all and (-ms-high-contrast: none) {
            width: 48%;
            flex-basis: auto;
          }
        }
        @media all and (min-width: 992px) {
          flex-basis: 31%;
          @media all and (-ms-high-contrast: none) {
            width: 31%;
            flex-basis: auto;
          }
        }
        @media all and (min-width: 1200px) {
        }
      }
    }
  }
}

.page-panel {
  // My Requests Wrapper
  &--my-requests {
    flex-direction: column;
  }

  // Services Wrapper
  &--services {
    flex-direction: column;
  }
}

.package-layout--services {
  .cards__wrapper {
    padding: 0 0 3rem;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    &--services,
    &--categories {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      // align-items: flex-start;
    }
  }
}
