/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   My Requests ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// My Request details
.request-details-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  .submission-meta-wrapper {
    min-height: 3.75rem;
    width: 100%;
    background-color: $black-5;
    padding: 0.5rem;
    margin-bottom: 2rem;
    .col {
      border-right: 1px solid $black-16;
      &:last-child {
        border: none;
      }
    }
    dt {
      color: $black-50;
      font-size: 0.625rem;
      font-weight: 600;
      line-height: 0.75rem;
      margin-bottom: 0.5rem;
    }
    dd {
      color: $black-50;
      font-size: 1rem;
      font-weight: 300;
      line-height: 0.75rem;
    }
    .btn-group-col {
      display: flex;
      align-items: center;
      margin-top: 0;
      justify-content: space-around;
      .btn {
        margin-right: 1rem;
      }
      @media all and (min-width: 0) {
        margin-top: 1rem;
      }
      @media all and (min-width: 576px) {
        margin-top: 1rem;
      }
      @media all and (min-width: 768px) {
        margin-top: 1rem;
      }
      @media all and (min-width: 992px) {
        margin-top: 0;
      }
      @media all and (min-width: 1200px) {
        margin-top: 0;
      }
    }
  }
}
