/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Search Elements ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.services-search-wrapper {
  h1 {
    color: $white;
    font-size: 2.583333333rem;
    font-weight: 300;
    line-height: 4rem;
    margin-top: 1.5rem;
  }
}

// Highlight
.highlight {
  background-color: rgba($sunflower, 0.5);
}

// Search Results list
.search-results-list {
  ul {
    margin: 0 0 2rem;
    padding: 0;
  }
  li {
    list-style: none;
    background-color: $white;
    .s-card {
      display: block;
      // padding-bottom: 0;
    }
  }
}
