/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Services Detail  ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.submission-detail-wrapper {
  h1 {
    color: $black;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0;
    display: flex;
  }
  p {
    color: $black-50;
    font-size: 1rem;
    line-height: 2rem;
  }
  .card-icon {
    margin-top: 12px;
    border-radius: 50%;
  }
}
