/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ Service
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.services .dropdown-menu {
  border-radius: 0;
  border: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 3px 4px);
  margin-top: 0;
  &:after {
    content: '';
    border: 10px solid;
    border-color: transparent transparent white;
    content: '';
    left: 88%;
    margin-left: -10px;
    position: absolute;
    top: -20px;
    z-index: 9998;
  }
}

.card.empty-state-card {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  background-color: transparent;
  h1 {
    font-size: 1.125rem;
    color: $blueSlate;
    font-weight: 600;
    margin-top: 1rem;
  }
  p {
    color: $blueGray;
    font-size: 0.875rem;
  }
}
