/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Timeline  ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// Timeline
.submission-timeline-wrapper {
  ul {
    margin: 0 0 2rem 2rem;
    padding: 0;
    border-left: 1px solid $black-16;
  }
  li {
    list-style: none;
  }
  dt {
    // color: $black-50;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }
  dd {
    color: $black-50;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
  }

  .timeline-item {
    position: relative;
    border: 1px solid $black-16;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0 1rem 1rem;
    list-style: none;
    @include setBgColorAndHover($white);
    .circle {
      width: 0.5rem;
      height: 0.5rem;
      background-color: $blueSlate;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: -1.3725rem;
      top: 45%;
    }
    .status {
      // margin-left: 0;
      margin-right: 1rem;
    }
    h1 {
      display: flex;
      justify-content: space-between;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin: 0;
    }
    &.expanded,
    &.active {
      box-shadow: 0 0 0.5rem 0.125rem $black-16;

      &:hover {
        background-color: $white;
      }
      h1 {
        color: $blue;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $black-16;
      }
      .circle {
        background-color: $blue;
      }
    }

    p {
      color: $black;
      margin-bottom: 0;
    }
    .time-ago-text {
      font-weight: 100;
    }
  }
  .timeline-start,
  .timeline-end,
  .timeline-pending {
    display: table;
    font-size: 0.5rem;
    font-weight: 900;
    background-color: $greenGrass;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    color: $white;
    text-align: center;
    margin-left: -2.375rem;
  }
  .timeline-end {
    background-color: $red;
  }
  .timeline-pending {
    background-color: $sunflower;
    color: $black;
    margin-left: -3rem;
  }
}
.submission-details-tab-wrapper {
  ul {
    margin-bottom: 1rem;
  }
}
