/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Card Overrides ~ Tech Bar
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.card {
  flex: 0 0 auto;
  border: 1px solid $black-16;
  margin: 0 0.75rem 0.75rem 0;
  @media all and (min-width: 0) {
    flex-basis: 100%;
    @media all and (-ms-high-contrast: none) {
      width: 100%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 576px) {
    flex-basis: 48%;
    @media all and (-ms-high-contrast: none) {
      width: 48%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 768px) {
    flex-basis: 48%;
    @media all and (-ms-high-contrast: none) {
      width: 48%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 992px) {
    flex-basis: 31.5%;
    @media all and (-ms-high-contrast: none) {
      width: 31.5%;
      flex-basis: auto;
    }
  }
  @media all and (min-width: 1200px) {
  }

  &--tech-bar {
    .card-body {
      flex-direction: column;
      justify-content: flex-start;
      display: flex;
      padding: 0.6875rem 1rem;
      .card-title {
        margin-top: 0;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 1.375rem;
      }
      .card-subtitle {
        margin-top: -0.25rem;
        margin-bottom: 0.5rem;
        color: rgba($black, 0.5);
        font-size: 0.75rem;
      }
      .card-text {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        flex-grow: 1;
      }
    }
    &.selected {
      .card-body {
        background-color: $primary;
        * {
          color: $white;
        }
      }
    }
  }
  &--appointment {
    display: flex;
    flex-direction: row;
    @include border-radius();
    background-color: $gray4;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &.selected {
      background-color: $primary;
      color: $white;

      .text-muted {
        color: $gray2 !important;
      }
    }

    .details {
      padding: 0.25rem 0.5rem;
    }

    button {
      @include border-left-radius(0);
    }
  }
  &--appt {
    border: 1px solid $black-16;
    margin-bottom: 0.75rem;
    padding: 0.6875rem 1rem;
    transition: background-color 0.3s;
    @include setBgColorAndHover($white);
    flex-direction: row;
    &:focus,
    &:hover {
      text-decoration: none;
    }
    .card-icon {
      flex-direction: column;
      margin-right: 1rem;
    }
    .card-body {
      padding: 0;
    }
    .card-title {
      display: flex;
      justify-content: space-between;
      color: $black;
      font-size: 1rem;
      // @include ms-respond(font-size, 3);
      font-weight: 600;
      line-height: 1rem;
      margin: 0;
      padding-bottom: 0.5rem;
    }
    .card-subtitle,
    .card-text {
      color: $black;
      font-size: 0.75rem;
      line-height: 1.5rem;
      // @include ms-respond(font-size, 1);
      margin-bottom: 0;
    }
    .card-subtitle {
      color: rgba($black, 0.75);
    }
  }
}
