/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ Tech Bar
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.package-layout--tech-bar {
  // Tech Bar Page Container
  .page-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    &--tech-bar {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    &--display {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .home-title {
      color: #343434;
      font-size: 1.625rem;
      font-weight: 600;
      line-height: 3rem;
      margin-bottom: 1rem;
    }

    .tech-bar-display {
      .check-in-option {
        @include border-radius(1rem);
        width: 100%;
        font-size: 1.6rem;
        line-height: 10rem;
      }

      .experience-options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
          @include border-radius(50%);
          flex-basis: 35%;
          padding: 0;
          font-size: 22.4vw;
          @media all and (min-width: 849px) {
            font-size: 190px;
          }

          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            padding-top: 100%;
          }

          span {
            vertical-align: middle;
          }
        }
      }

      .details-container {
        width: 65vw;

        .header {
          @include border-top-radius(1rem);
          font-size: 1.2rem;
          line-height: 2.25rem;
          text-align: center;
          position: relative;

          button:last-child {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .body {
          @include border-bottom-radius(1rem);
          border: 1px solid $gray3;
          border-top: none;
          background-color: $white;

          form,
          .form {
            @include border-bottom-radius(1rem);
            overflow: visible;
          }
        }
      }

      .overhead-display {
        h1 {
          font-size: 4.4rem;
          font-weight: bold;
          color: $primary;
        }

        ul.overhead-display-list {
          list-style: none;
          li {
            font-size: 2.4rem;
          }
        }
      }
    }
  }

  // Card Wrapper
  .cards__wrapper {
    padding: 0 0 3rem;
    margin: 0;
    list-style: none;
    flex-direction: column;
    display: flex;
    &--tech-bar,
    &--appt {
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: flex-start;
    }
    &--appt {
      padding-bottom: 0;
    }
  }
}
