/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Sidebar ~ Tech Bar
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sidebar-group--tech-bars {
  .nav {
    .nav-item {
      display: flex;

      .nav-link {
        flex-grow: 1;
      }

      .dropdown {
        flex-shrink: 0;
        margin-bottom: 0.75rem;

        button {
          width: 40px;
          height: 100%;
          color: #7e8083;
          border-radius: 0;
          border-right: 3px solid transparent;
          transition: border-right-color 0.5s, color 0.5s;

          &:hover {
            color: $blue-lake;
            border-right-color: $blue-lake;
          }
        }
      }
    }
  }
}
